.GridCol2MainAside-col-main {

  margin-bottom: $susy-gutter-width;

  @include respond-to-grid(5) {
    width: span(6 of 12);
  }

  @include respond-to-grid(6) {
    width: span(7 of 12);
  }
}

.GridCol2MainAside-col-aside {
  margin-bottom: $susy-gutter-width;

  @include respond-to-grid(5) {
    margin-left: span(1 of 12);
    width: span(5 of 12);
  }

  @include respond-to-grid(6) {
    width: span(4 of 12);
  }
}
