.Cookiehint-grid {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color-white, 0.9);
  padding-top: $susy-gutter-width;

  &.is-disabled {
    display: none;
  }
}

.Cookiehint {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.Cookiehint-infotext {
  max-width: 760px;
}
